*{
    margin:0px;
    font-family: 'Raleway', sans-serif;
}
*::selection{
    background-color:#70df79;
    color:white;
}
#start{
    background-image:linear-gradient(45deg, rgb(0 255 184), rgb(247 0 217));
    width:100vw;
    height:100vh;
    box-sizing:border-box;
    font-size:1.5rem;
}
#container{
    width:100vw;
    height:95vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
#signin{
    text-align:center;
    color:white;
    font-size:3rem;
    padding-bottom:1rem;
    text-shadow:8px 8px 5px black;
    position: relative;
}
.field{
    padding:8px;
}
.field input{
    font-family: 'Chakra Petch', sans-serif;
    margin:10px 10px 10px 0px;
    padding:15px 0px 15px 10px;
    font-size:1.1rem;
    width:100%;
    border:none;
    box-sizing:border-box;
}
.div_btn{
    height:15%;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    position:relative;
    z-index:1;
}
.btn{
    color:#7365e7;
    font-family: 'Montserrat', sans-serif;
    border-radius:10px;
    border:none;
    cursor:pointer;
    height:50px;
    width:30%;
    font-size:1.5rem;
    background-image: linear-gradient(90deg,rgb(218, 255, 231),rgb(254, 255, 187));
    position:relative;
}
#signin::before{
    content: "";
    position: absolute;
    z-index: 0;
    width: 120%;
    height: 110%;
    top: -12%;
    left: -9%;
    border-radius: 12px;
    background-color:rgb(255 255 255 / 15%);
}
.before{
    position: absolute;
    top: -6%;
    left: -2.2%;
    width: 104%;
    height: 114%;
    border-radius: 10px;
    z-index: -1;
    overflow: hidden;
}
.after{
    position: absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
    border-radius:10px;
    z-index:-1;
}
.tl_bf{
    position: absolute;
    width: 30%;
    height: 15%;
    top: -2%;
    left: 1%;
    box-shadow: inset 0px 0px 0px 50px rgb(255 255 255);
    animation: glow_tl_bf 750ms linear 0s 1 normal forwards running;
    transform-origin:100% 20%;
}
.br_bf{
    position:absolute;
    width:30%;
    height:15%;
    bottom:-2%;
    right:1%;
    box-shadow: inset 0px 0px 0px 50px rgb(255 255 255);
    animation:glow_br_bf 750ms linear 0s 1 normal forwards running;
    transform-origin:0% 80%;
}
.tl_af{
    position:absolute;
    width:30%;
    height:15%;
    top:0%;
    left:1%;
    box-shadow: 0px 0px 25px 10px rgb(255, 255, 255);
    animation:glow_tl_af 750ms linear 0s 1 normal forwards running;
    transform-origin:100% 0%;
}
.br_af{
    position:absolute;
    width:30%;
    height:15%;
    bottom:0%;
    right:1%;
    box-shadow: 0px 0px 30px 7px rgb(255, 255, 255);
    animation:glow_br_af 750ms linear 0s 1 normal forwards running;
    transform-origin:0% 100%;
}
@keyframes glow_tl_bf{
    0%{
        top:0%;
        left:-2%;
        height:30%;
    }
    60%{
        left:66%;
        transform:scale(1);
        height:15%;
    }
    66%{
        transform:scale(1,2);
        top:0%;
        left:71%;
        opacity:1;

    }
    100%{
        transform:scale(0.2,7.2);
        top:0%;
        left:71%;
        opacity:0%;
    }
}
@keyframes glow_br_bf{
    0%{
        bottom:0%;
        right:-2%;
        height:30%;
    }
    60%{
        right:66%;
        transform:scale(1);
        height:15%;
    }
    66%{
        transform:scale(1,2);
        bottom:0%;
        right:71%;
        opacity:1;

    }
    100%{
        transform:scale(0.2,7.2);
        bottom:0%;
        right:71%;
        opacity:0%;
    }
}
@keyframes glow_tl_af{
    0%{
        top:0%;
        left:2%;
    }
    60%{
        left:66%;
        transform:scale(1);
        opacity:0.5;
    }
    66%{
        transform:scale(1,2);
        top:0%;
        left:71%;
    }
    100%{
        transform:scale(0.4,6.2);
        top:0%;
        left:71%;
        opacity:0;
    }
}
@keyframes glow_br_af{
    0%{
        bottom:0%;
        right:4%;
    }
    60%{
        right:66%;
        transform:scale(1);
        opacity:0.5;
    }
    66%{
        transform:scale(1,2);
        bottom:0%;
        right:71%;
    }
    100%{
        transform:scale(0.4,6.2);
        bottom:0%;
        right:71%;
        opacity:0;
    }
}
.cnfrm::placeholder{
    color:red;
}
#div_create_pass,#div_cnfrm_pass{
    position:relative;
}
.show{
    position:absolute;
    visibility:hidden;
    bottom:23%;
    right:4%;
    width:7%;
}
.hide{
    position: absolute;
    background-color: black;
    bottom: 20%;
    right: 4.6%;
    width: 0.5%;
    height: 27%;
    rotate: 45deg;
    scale: 1 0;
    transform-origin: 0% 0%;
    transition: scale 250ms linear 0s;
}
.hide_appear{
    scale:1 1;
}
.hide_disappear{
    scale:1 0;
}